.each_div{
position: relative;
}
.rm_button_variant {
    position: absolute;
    right: 2px;
    top: 6px;
}
.main_variant_div{
    position: relative;
}
.variant_add_btn {
    position: absolute;
    left: 40%;
    right: 40%;
    padding-top: 5px;
}
.attribute_main{

}
.attribute_for_variant {
    display: flex;
    justify-content: center;
    gap: 9px;
    align-items: self-end;
}